<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <appSettings>
    <add key="ClientId" value="e5f865b9-d56f-4c43-bd05-6a6e71bbfde0" />
    <add key="ClientSigningCertificatePath" value="D:\Rahul\Certs\Certs.pfx" />
    <add key="ClientSigningCertificatePassword" value="passw0rd" />
    <add key="IssuerId" value="add83c73-2844-4646-87c8-e77e027415a5" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>